<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name= "Cert Transfers Suite">
	
	<test name= "Corillian Transfers">
	
		<classes>
			<class name="transfers.TransfersTest1"></class>
			<class name="transfers.TransfersTest2"></class>
		</classes>
	
	</test>
	
</suite>
